@model BookCave.Models.ViewModels.UserViewModel 

<div>
    <div>
        <img src="@Model.image" alt="Profile Picture">
    </div>
    <div>
        <h1>@Model.name</h1>
        <h2>Address 1: @Model.address1</h2>
        @if(@Model.address2 != null)
        {
            <h2>Address 2: @Model.address2</h2>
        }
        <h2>My favorite book: @Model.favBook</h2>
        <form asp-action="EditProfile" method="GET">
            <input type="submit" value="Edit Profile">
        </form>
    </div>
</div>