@model BookCave.Models.ViewModels.OrderBasketView

<div class="container">
    <h1>Your Basket</h1>
    <form method="POST" asp-action="Billing" asp-controller="Order">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
                <th>Quantity</th>
                <th></th>
                <th>Price per unit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var book in Model.books)
            {
                <div>
                    <tr class="basketList"  id="@book.ID">
                        <td>@book.bookName</td>
                        <td><input type="button" class="btn btn-xs active btn-danger" onclick="decreaseQuantity(@book.bookID)" value="-"/></td>
                        <td><span id="@book.bookID">@book.quantity</span></td>
                        <td><input type="button" class="btn btn-xs active btn-success" onclick="increseQuantity(@book.bookID)" value="+"/></td>
                        <td>$ @book.price</td>
                        <td><input type="button" class="btn btn-sm active btn-danger" onclick="removeFromBasket(@book.bookID, @book.ID)" value="X"/></td>
                    </tr>
                </div>
             }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total price:</td>
                <td class="basketList">$ @Model.totalPrice</td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
    <a class="refreshPrice" asp-action="Basket" asp-controller="Order">Update total price</a>
    <input type="submit" class="btn btn-xl btn-success refreshPrice" value="Checkout"/>
    <input type="button" class="btn btn-xl btn-danger refreshPrice" onclick="clearBasket()" value="Clear basket" />
    
    
    </form> 
</div>
