@model BookCave.Models.ViewModels.OrderBasketView

<div class="container">
    <h1>Your Basket</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
                <th>Quantity</th>
                <th></th>
                <th>Price per unit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var book in Model.books)
            {
                <tr>
                    <td>@book.bookName</td>
                    <td><button class="btn btn-xs active btn-danger" onclick="decreaseQuantity(@book.bookID)">-</button> </td>
                    <td>@book.quantity</td>
                    <td><button class="btn btn-xs active btn-success">+</button></td>
                    <td>$ @book.price</td>
                    <td><button class="btn btn-sm active btn-danger">X</button></td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total price:</td>
                <td>$ @Model.totalPrice</td>
            </tr>
        </tbody>
    </table>
</div>
