@model BookCave.Models.ViewModels.OrderBasketView

<div class="container">
    <h1>Your Basket</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
                <th>Quantity</th>
                <th></th>
                <th>Price per unit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <div>
                @foreach(var book in Model.books)
                {
                    <tr class="basketList" id="@book.ID">
                        <td>@book.bookName</td>
                        <td><input type="button" class="btn btn-xs active btn-danger" onclick="decreaseQuantity(@book.bookID)" value="-"/></td>
                        <td><span id="@book.bookID">@book.quantity</span></td>
                        <td><input type="button" class="btn btn-xs active btn-success" onclick="increseQuantity(@book.bookID)" value="+"/></td>
                        <td>$ @book.price</td>
                        <td><input type="button" class="btn btn-sm active btn-danger" onclick="removeFromBasket(@book.bookID, '@book.bookName')" value="X"/></td>
                    </tr>
                }
            </div>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total price:</td>
                <td class="basketList">$ @Model.totalPrice</td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
    <input type="button" class="btn btn-xl btn-success active" onclick="" value="Checkout" />
    <input type="button" class="btn btn-xl btn-danger active" onclick="clearBasket()" value="Clear basket" />
    <input type="button" class="btn btn-xl btn-success active" onclick="" value="Refresh" />
    
</div>
