@model List<BookCave.Models.ViewModels.BookView>
    <!--
      Carousel virknin var fengin héðan  https://www.jqueryscript.net/slider/Responsive-Multi-slide-Carousel-Plugin-jQuery-Multislider.html
    -->

    <div class="container">
        <h2>Newest releases</h2>
        <div id="mixedSlider1">
            <div class="MS-content">
                @for(int i = 1; i <= 12; i++)
                {
                        <div class="item">                      
                            <a asp-action="Detail" asp-controller="Book" asp-route-id="@Model[i].ID">
                            <div class="imgTitle">
                                <h4 class="blogTitle" style="text-align:center">@Model[i].title</h4>
                                <img src ="@Model[i].image" alt="@Model[i].title" style="max-height:250px; width:auto">
                            </div></a>
                            <p>@Model[i].author</p>
                            <span class="stars details-stars">@Model[i].rating</span>
                            <p>Price: @Model[i].price$</p>
                            <button type="button" class="buyBookButton" onclick="addToBasket(@Model[i].ID)">Add to basket</button>
                        </div>
                    
                }
            </div>
            <div class="MS-controls">
                <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>    
    <div class="container">
        <h2>Popular books</h2>
        <div id="mixedSlider2">
            <div class="MS-content">
                @foreach(var book in Model)
                {
                    @if (book.rating > 4)
                    {
                        <div class="item">                      
                            <a asp-action="Detail" asp-controller="Book" asp-route-id="@book.ID">
                            <div class="imgTitle">
                                <h4 class="blogTitle" style="text-align:center">@book.title</h4>
                                <img src ="@book.image" alt="@book.title" style="max-height:250px; width:auto">
                            </div></a>
                            <p>@book.author</p>
                            <span class="stars details-stars">@book.rating</span>
                            <p>Price: @book.price$</p>
                            <button type="button" class="buyBookButton" onclick="addToBasket(@book.ID)">Add to basket</button>
                        </div>
                    }
                }
            </div>
            <div class="MS-controls">
                <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>    
    <div class="container">
        <h2>Special offers</h2>
        <div id="mixedSlider3">
            <div class="MS-content">
                @foreach(var book in Model)
                {
                    @if (book.discount < 1)
                    {
                        <div class="item">                      
                            <a asp-action="Detail" asp-controller="Book" asp-route-id="@book.ID">
                            <div class="imgTitle">
                                <h4 class="blogTitle" style="text-align:center">@book.title</h4>
                                <img src ="@book.image" alt="@book.title" style="max-height:250px; width:auto">
                            </div></a>
                            <p>@book.author</p>
                            <span class="stars details-stars">@book.rating</span>
                            <p>Price: @book.price$</p>
                            <button type="button" class="buyBookButton" onclick="addToBasket(@book.ID)">Add to basket</button>
                        </div>
                    }
                }
            </div>
            <div class="MS-controls">
                <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <br>
    <br>
