@model List<BookCave.Models.ViewModels.BookView>
    <h1>Test area!</h1>
    <!--
      Carousel virknin var fengin héðan  https://www.jqueryscript.net/slider/Responsive-Multi-slide-Carousel-Plugin-jQuery-Multislider.html
    -->
    <div class="container">
        <div id="mixedSlider">
                <div class="MS-content">
                    @foreach(var book in Model)
                    {
                        <div class="item">                      
                            <div class="imgTitle">
                                <h2 class="blogTitle">@book.title</h2>
                                <img src ="@book.image" alt="@book.title" width="170" height="170">
                            </div>
                            <p>Author: @book.author</p>
                            <p>Rating: @book.rating</p>
                            <p>Price: @book.price</p>
                            <a href="#">Add to basket</a>
                        </div>
                    }
                </div>
                <div class="MS-controls">
                    <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                    <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
