@model BookCave.Models.ViewModels.BookView

<br>
<div id="siteBody">
    <img src="@Model.image" alt="@Model.title">  <br>
    <h3>Title: @Model.title </h3>
    <p>Author: @Model.author </p>
    <p>Price: @Model.price $</p> <!--Búið er að margfalda saman price og discount í repo-inu og vista í price. Raunverðið sést því hér -->
    <p>Rating: @Model.rating</p> <!--Búið er að deila heildarsummunni rating með noOfRatings í repo-inu og vista í rating. Einkunn myndarinnar sést því hér -->
    <br> 

    <h4>Description</h4>
    <p>@Model.description</p> 
    <br>

    <h2>Er eftir að útfæra virknina fyrir "Add to basket" takkann</h2>
    <a asp-controller="Order" asp-action="Basket" class="btn btn-primary">Add to basket</a>
    <br>

    <h4>Product Details</h4>
    <p>Number of pages: @Model.numberOfPages</p>
    <p>Publication year: @Model.year</p>
    <p>Publisher: @Model.publisher</p>
    <p>Publication country: @Model.country</p> 
    <p>Language: @Model.language</p>
    <p>ISBN number: @Model.ISBN </p>
    <br>

    <h4>Reviews</h4>
    <!--
    //    @for(int i = 0; i < @Model.Reviews.Count; i++)
    {
        <div class="book-item marginPush">      
            <p>Name of person: @Model.Reviews[i].username </p>
            <p>Rating: @Model.Reviews[i].rating</p>
            <div class="review text box">
                <p>Review: @Model.Reviews[i].review</p>
            </div>
        </div>
    }
    -->
    <br>

    <h4>Write a review</h4>
    <a asp-controller="Book" asp-action="Review" class="btn btn-primary" asp-route-id="@Model.ID">Review this book</a>
    <br>

    <h4>Aðrar upplýsingar sem voru ekki á frumgerðinni</h4>
    <p>Category: @Model.category </p>
    <p>Discount: @Model.discount</p>
    <p>Number of ratings: @Model.noOfRatings</p>
    <br>

</div>