@model BookCave.Models.ViewModels.BookView

<div id="bookDetails">
    <div class="bookDetailsDesc">
        <img src="@Model.image" alt="@Model.title">
        <br>
        <div class="bookDetailsWithStars"><h3 class="bold"> @Model.title </h3>
            <form asp-action="AuthorDetail">
                <input type="hidden" value="@Model.author" name="author">
                <p>Author: <input type="submit" value="@Model.author"></p>            
            </form>
            <h4 class="bold">Price: $@Model.price</h4>
             <!--Búið er að margfalda saman price og discount í repo-inu og vista í price. Raunverðið sést því hér -->
            <span class="stars details-stars">@Model.rating</span>
            <p>   (no of ratings @Model.noOfRatings)</p> <!--Búið er að deila heildarsummunni rating með noOfRatings í repo-inu og vista í rating. Einkunn myndarinnar sést því hér -->
            <br/>
        </div>

        <h4 class="bold">Description</h4>
        <p>@Model.description</p> 
        <br>
        @{
             if(this.User.IsInRole("Employee"))
             {
                 <a class="btn btn-primary" asp-action="EditBook" asp-controller="Employee" asp-route-id="@Model.ID">Edit this book</a>
             }
             else
             {
                 <a class="btn btn-primary" id="detailsAddToBasketBtn" onclick="addToBasket(@Model.ID)" name="@Model.ID" >Add to basket</a>
             }
        }
        <br>
    
        <div class="bookDetailsDetails pushDown">
            <h4 class="bold">Product Details:</h4>
            <p><b>Number of pages:</b> @Model.numberOfPages</p>
            <p><b>Publication year:</b> @Model.year</p>
            <p><b>Publisher:</b> @Model.publisher</p>
            <p><b>Publication country:</b> @Model.country</p> 
            <p><b>Language:</b> @Model.language</p>
            <p><b>Genre:</b> @Model.category </p>
            <p><b>ISBN number:</b> @Model.ISBN </p>
            <br>
        </div>
    </div>
    <div class="bookDetailsReview pushDown">
        <h4 class="bold">Reviews</h4>
        @for(int i = 0; i < @Model.Reviews.Count; i++)
        {
            if(Model.Reviews[i].review != null)
            {
                <div class="review-text-box">      <!--Tók kóðann af forsíðunni í þeirri von að css myndi endurnýtast -->
                    <p>Review: @Model.Reviews[i].review</p>
                    <strong>--@Model.Reviews[i].username</strong>
                    <span class="stars">@Model.rating</span>
                </div> 
                <br>
            }
            
        }
        <h4>Write a review</h4>
        <a asp-controller="Book" asp-action="Review" class="btn btn-primary" asp-route-id="@Model.ID">Review this book</a>
        <br>
    </div>
    <!--
        Commented out, needs better placement

        <h4>Aðrar upplýsingar sem voru ekki á frumgerðinni</h4>
        <p>Discount: @Model.discount</p>
    -->
    <br>
</div>

