@model BookCave.Models.ViewModels.BookView


<div id="siteBody">
    <br>
    <br>
    <br>

    <img src="@Model.image" alt="@Model.title">  <br>
    <h3>Title: @Model.title </h3>
    <p>Author: @Model.author </p>
    <p>Price: @Model.price $</p> <!--Búið er að margfalda saman price og discount í repo-inu og vista í price. Raunverðið sést því hér -->
    <p>Rating: @Model.rating (no of ratings @Model.noOfRatings)</p> <!--Búið er að deila heildarsummunni rating með noOfRatings í repo-inu og vista í rating. Einkunn myndarinnar sést því hér -->
    <br> 

    <h4>Description</h4>
    <p>@Model.description</p> 
    <br>

    <a asp-controller="Order" asp-action="Basket" class="btn btn-primary">Add to basket</a>
    <br>

    <h4>Product Details</h4>
    <p>Number of pages: @Model.numberOfPages</p>
    <p>Publication year: @Model.year</p>
    <p>Publisher: @Model.publisher</p>
    <p>Publication country: @Model.country</p> 
    <p>Language: @Model.language</p>
    <p>Category: @Model.category </p>
    <p>ISBN number: @Model.ISBN </p>
    <br>

    <h4>Reviews</h4>
<<<<<<< HEAD
    <!--
    //    @for(int i = 0; i < @Model.Reviews.Count; i++)
=======
    @for(int i = 0; i < @Model.Reviews.Count; i++)
>>>>>>> 249303d21650911bdcd647379fc671256ef8f43f
    {
        <div class="book-item marginPush">          <!--Tók kóðann af forsíðunni í þeirri von að css myndi endurnýtast -->
            <p>Name of person: @Model.Reviews[i].username </p>
            <p>Rating: @Model.Reviews[i].rating</p>
            <div class="review text box">
                <p>Review: @Model.Reviews[i].review</p>
            </div>
        </div>
    }

    <h4>Write a review</h4>
    <a asp-controller="Book" asp-action="Review" class="btn btn-primary" asp-route-id="@Model.ID">Review this book</a>
    <br>

    <h4>Aðrar upplýsingar sem voru ekki á frumgerðinni</h4>
    <p>Discount: @Model.discount</p>
    <br>

</div>