@model List<BookCave.Models.ViewModels.BookView>
<h1>Discounted books</h1>
<div id="discountHolder">

    @foreach(var book in Model)
    {
        <div class="discountBook">
            <div class="discountBookCover">
                <h3><b>@book.discount% off</b></h3>
                <a asp-action="Detail" asp-controller="Book" asp-route-id="@book.ID"><img src ="@book.image" alt="@book.title" width="170" height="200"></a>
            </div>
            <a asp-action="Detail" asp-controller="Book" asp-route-id="@book.ID"><p style="text-align: center; font-size: 16px; font-weight: bold;">@book.title</p></a>
            <p>Author: @book.author</p>
            <p>Genre: @book.category</p>
            <p>Rating: @book.rating</p>
            <p>Price: @book.price</p>
            <button type="button" class="btn btn-success btn-sm">Add to basket</button>
        </div>
    }
</div>