@model List<BookCave.Models.ViewModels.BookView>
<h1>Discounted books</h1>
<div id="discountHolder">

    @foreach(var book in Model)
    {
        <div class="discountBook">
            <div class="discountBookCover">
                <h3><b>@book.discount% off</b></h3>
                <a asp-action="Detail" asp-controller="Book" asp-route-id="@book.ID"><img src ="@book.image" alt="@book.title" width="170" height="200"></a>
            </div>
            <a asp-action="Detail" asp-controller="Book" asp-route-id="@book.ID"><p style="text-align: center; font-size: 16px; font-weight: bold;">@book.title</p></a>
            <p>Author: @book.author</p>
            <p>Genre: @book.category</p>
            <span class="stars discount-stars">@book.rating</span>
            <br>
            <p>Price: $@book.price</p>
            @if(this.User.IsInRole("Employee"))
            {
                <a class="btn btn-primary btn-sm" asp-action="EditBook" asp-controller="Employee" asp-route-id="@book.ID">Edit book</a>
            }
            else
            {
                <button type="button" class="btn btn-primary btn-sm" onclick="addToBasket(@book.ID)" id="searchAddToBasketBtn">Add to basket</button>
            }
        </div>
    }
</div>