@model List<BookCave.Models.ViewModels.BookView>



    <h2></h2>
    <form method="get" action="Search">
            <label for="searchTitle">Title</label>
            <input type="text" name="searchTitle">

            <label for="searchAuthor">Author</label>
            <input type="text" name="searchAuthor">

            <label for="searchISBN">ISBN</label>
            <input type="text" name="searchISBN">

            <label for="searchCategory">Category</label>
            <select name="searchCategory">
                <option value="" selected>All</option>
                <option value="Dystopian">Dystopian</option>
                <option value="Cosmology">Cosmology</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Fiction">Fiction</option>
                <option value="Classic">Classic</option>
                <option value="Science Fiction">Science Fiction</option>
                <option value="Horror">Horror</option>
            </select>

            <label for="orderBy">Filter by</label>
            <select name="orderBy">
                <option value="ascendingTitle" selected>Title Ascending</option>
                <option value="descendingTitle">Title Descending</option>
                <option value="ascendingPrice">Price Ascending</option>
                <option value="descendingPrice">Price Descending</option>
            </select>

            
            <input type="submit" value="Search">
        </form>

    <div id="searchDiv">
        
        <br><br>
        @foreach(var book in Model)
        {
                <div class="searchBook">
                    <img src ="@book.image" alt="@book.title" width="170" height="170">
                    <a asp-action="Detail" asp-controller="Book" asp-route-id="@book.ID"><p>@book.title</p></a>
                    <p>@book.author</p>
                    <p>@book.category</p>
                   <button type="button" class="btn btn-primary btn-sm" onclick="addToBasket(@book.ID)" id="searchAddToBasketBtn">Add to basket</button>
                </div>
        }
        
    </div>
